<div class="card">
  <div class="card-body">
    <h6 class="text-center">
      Lista de Jugadores
    </h6>
    <table class="table table-sm table-hover">
      <tbody>
        <tr>
          <td>Nombre</td>
          <td>Apellido</td>
          <td>pais</td>
          <td>camiseta</td>
          <td>posicion</td>
          <td>titular</td>
        </tr>
        <!--for para los valores de la lista de jugador-->
        <tr *ngFor="let jugador of jugadorList">
          <td>{{jugador.nombreJugador}}</td> <!--llamada de los campos en la base de datos-->
          <td>{{jugador.apellidoJugador}}</td>
          <td>{{jugador.paisJugador}}</td>
          <td>{{jugador.camiseta}}</td>
          <td>{{jugador.posicion}}</td>
          <td>{{jugador.titular}}</td>
          <td>
            <!--boton editar-->
            <a class="btn btn-secondary text-white" (click)="onEdit(jugador)">

              <i class="far fa-edit"></i>    
            </a>
            <!--boton eliminar-->
            <a class="btn btn-danger text-white" (click)="onDelete(jugador.$keyJugador)">    
            <i class="fas fa-trash-alt"></i>    
            </a>    
          </td>    
        </tr>    
      </tbody>    
    </table>
    <!--display cantidad de jugadores-->
    <h6>cantidad de Jugadores: </h6>
    <p>
      {{cantidad}}
    </p>         
  </div>    
</div>