<div class="card">
  <div class="card-body">
    <h6 class="text-center">
      Lista de Equipos
    </h6>
    <table class="table table-sm table-hover">
      <tbody>
        <tr>
          <td>Nombre Equipo</td>
          <td>url fotos</td>
          <td>operaciones</td>
        </tr>
        <tr *ngFor="let equipo of equipoList">
          <td>{{equipo.pais}}</td>
          <td>{{equipo.escudo}}</td>
          
          <td>
            <a class="btn btn-secondary text-white" (click)="onEdit(equipo)">
  
              <i class="far fa-edit"></i>    
            </a>
            <a class="btn btn-danger text-white" (click)="onDelete(equipo.$keyEquipo)">    
            <i class="fas fa-trash-alt"></i>    
            </a>    
          </td>    
        </tr>
      </tbody>    
    </table>
    <h6>cantidad de equipos: </h6>
    <p>
      {{cantidad}}
    </p>     
  </div>    
</div>