<!--Formulario de Jugadores-->

<div class="card mt-5">
  <h2 style="margin-left: 20px;">Jugadores</h2>
  <div class="card-body">
    <form #jugadorForm="ngForm" (ngSubmit)="onSubmit(jugadorForm)">
      <input type="hidden" name="$keyJugador" #$keyJugador="ngModel" [(ngModel)]="jugadorService.selectedJugador.$keyJugador">
      <div class="form-group">  
        
        <input   
          type="file"
          accept=".png, .jpg"  
          class="form-control"  
          name="foto"
          #foto="ngModel"
          [(ngModel)]="jugadorService.selectedJugador.foto"
          placeholder="Agregar foto"
        >  
      </div>
  
      <div class="form-group">  
        <input   
          type="text"  
          class="form-control"  
          name="nombreJugador"  
          #nombreJugador="ngModel"  
          [(ngModel)]="jugadorService.selectedJugador.nombreJugador"
          placeholder="Agregar nombre"
        >  
      </div>
  
      <div class="form-group">  
        <input   
         type="text"  
         class="form-control"  
         name="apellidoJugador"  
         #apellidoJugador="ngModel"  
         [(ngModel)]="jugadorService.selectedJugador.apellidoJugador"  
         placeholder="Agregar apellido"
        >
      </div>
      
      <div class="form-group">  
        <input   
          type="date"  
          class="form-control"  
          name="FechaNacimientoJugador"  
          #FechaNacimientoJugador="ngModel"  
          [(ngModel)]="jugadorService.selectedJugador.FechaNacimientoJugador"  
          placeholder="Agregar Fecha de nacimiento"
        >
      </div>

      <div class="form-group">  
        <h6>Seleccionar Posicion</h6>
        <select class="form-control" name="posicion" #posiccion="ngModel" [(ngModel)]="jugadorService.selectedJugador.posicion">
          <option value="Delantero">Delantero</option>
          <option value="Portero">Portero</option>
          <option value="Defensa">Defensa</option>
          <option value="Lateral">Lateral</option>
        </select>   
      </div>

      <div class="form-group">  
        <input   
         type="text"
         class="form-control"  
         name="camiseta"  
         #camiseta="ngModel"  
         [(ngModel)]="jugadorService.selectedJugador.camiseta"  
         placeholder="Agregar Numero De Camiseta"
        >
      </div>

      <div class="form-group">
        <h6>es titular?</h6>
      <select class="form-control" name="titular" #titular="ngModel" [(ngModel)]="jugadorService.selectedJugador.titular">
          <option value="Si">Si</option>
          <option value="No">No</option>
      </select>
      </div>
      
      <div class="form-group">
          <input   
           type="text"  
           class="form-control"  
           name="paisJugador"  
           #paisJugador="ngModel"  
           [(ngModel)]="jugadorService.selectedJugador.paisJugador"  
           placeholder="Pais del Jugador"
          >
          
        </div>
        <div class="form-group">  
          <button class="btn btn-primary" type="submit">  
           <i class="fas fa-plus-circle"></i> Agregar Jugador 
          </button>
  
          <button class="btn btn-secondary" type="reset" (click)="resetForm(FormJugadores)">  
            <i class="fas fa-sync-alt"></i> Nuevo  
          </button>  
      </div>
    </form>
  </div>
</div>

