<!--formulario tecnicos  -->


<div class="card mt-5">
  <h2 style="margin-left: 20px;">Tecnicos</h2>
  <div class="card-body">
    <form #FormTecnico="ngForm" (ngSubmit)="onSubmit(FormTecnico)">
      <!--identificador oculto para el tecnico seleccionado-->
      <input type="hidden" name="$keyTecnico" #$keyTecnico="ngModel" [(ngModel)]="tecnicoService.selectedTecnico.$keyTecnico">
      <div class="form-group">  
        <input   
          type="text"
          class="form-control"  
          name="nombreTecnico"  
          #nombreTecnico="ngModel"  
          [(ngModel)]="tecnicoService.selectedTecnico.nombreTecnico"
          placeholder="Agregar nombre"  
        >  
      </div>
  
      <div class="form-group">  
        <input   
          type="text"  
          class="form-control"  
          name="apellidoTecnico"  
          #apellidoTecnico="ngModel"  
          [(ngModel)]="tecnicoService.selectedTecnico.apellidoTecnico"
          placeholder="Agregar Apellido"
        >  
      </div>
  
      <div class="form-group">  
        <h6>seleccionar fecha de nacimiento</h6>
        <input   
         type="date"  
         class="form-control"  
         name="fechaNacimientoTecnico"  
         #fechaNacimientoTecnico="ngModel"  
         [(ngModel)]="tecnicoService.selectedTecnico.fechaNacimientoTecnico"  
         placeholder="Agregar Fecha De Nacimiento"
        >
      </div>
      
      <div class="form-group">  
        <input   
          type="text"  
          class="form-control"  
          name="nacionalidad"  
          #nacionalidad="ngModel"  
          [(ngModel)]="tecnicoService.selectedTecnico.nacionalidad"  
          placeholder="Agregar nacionalidad"
        >
      </div>

      <div class="form-group">
        <h6>seleccionar rol</h6>
          <select class="form-control" name="rol" #rol="ngModel" [(ngModel)]="tecnicoService.selectedTecnico.rol">
              <option value="Tecnico">Tecnico</option>
              <option value="Asistente">Asistente</option>
              <option value="Medico">Medico</option>
              <option value="Preparador">Preparador</option>
            </select>
              
      </div>
      
      <div class="form-group">  
          <input   
           type="text"  
           class="form-control"  
           name="paisTecnico"
           #paisTecnico="ngModel"  
           [(ngModel)]="tecnicoService.selectedTecnico.paisTecnico"  
           placeholder="Equipo del tecnico"
          >
        </div>
      
      <div class="form-group">  
        <button class="btn btn-primary" type="submit">  
          <i class="fas fa-plus-circle"></i> Agregar Tecnico
        </button>
  
        <button class="btn btn-secondary" type="reset" (click)="resetForm(FormTecnico)">  
          <i class="fas fa-sync-alt"></i> Nuevo  
        </button>  
      </div>
    </form>
  </div>
</div>
