<div class="card">
  <div class="card-body">
    <h6 class="text-center">
      Lista de Tecnicos
    </h6>
    <table class="table table-sm table-hover">
      <tbody>
          <tr>
              <td>Nombre</td>
              <td>Apellido</td>
              <td>nacionalidad</td>
              <td>pais</td>
              <td>rol</td>
              <td>fecha de nacimiento</td>
            </tr>
            <!--for para la lista de tecnicos-->
        <tr *ngFor="let tecnico of tecnicoList">
          <td>{{tecnico.nombreTecnico}}</td> <!--llamada de los campos de la base de datos-->
          <td>{{tecnico.apellidoTecnico}}</td>
          <td>{{tecnico.nacionalidad}}</td>
          <td>{{tecnico.paisTecnico}}</td>
          <td>{{tecnico.rol}}</td>
          <td>{{tecnico.fechaNacimientoTecnico}}</td>
          <td>

            <!--boton editar-->
          <a class="btn btn-secondary text-white" (click)="onEdit(tecnico)">

            <i class="far fa-edit"></i>    
          </a>
          <!--boton eliminar-->
          <a class="btn btn-danger text-white" (click)="onDelete(tecnico.$keyTecnico)">    
          <i class="fas fa-trash-alt"></i>    
          </a>
        </td>    
      </tr>    
    </tbody>    
  </table>    
</div>    
</div>