<!--The content below is only a placeholder and can be replaced.-->

<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/">
    Fifa Rebus
  </a>
</nav>

<app-equipos></app-equipos>
<app-jugadores></app-jugadores>
<app-tecnicos></app-tecnicos>


  