
<!--Formulario de equipos-->


<div class="card mt-5">
  <h2 style="margin-left: 20px;">Equipos</h2>
  <div class="card-body">

    <!--formulario de enlace de datos doble via (two way data binding)-->
    <form #EquipoForm="ngForm" (ngSubmit)="onSubmit(EquipoForm)">  


      <!--Identificador unico oculto para cada equipo-->

      <input type="hidden" name="$keyEquipo" #$keyEquipo="ngModel" [(ngModel)]="equipoService.selectedEquipo.$keyEquipo">
      <div class="form-group">  
        <input   
          type="text"  
          class="form-control"  
          name="pais"  
          #name="ngModel"  
          [(ngModel)]="equipoService.selectedEquipo.pais"
          placeholder="Agregar Pais"  
        >  
      </div>
  
      <div class="form-group">  
        <h5>seleccionar imagen escudo</h5>
        <input   
          type="file" 
          accept=".png, .jpg" (change)="detectFilesEscudo($eventEscudo)"
          class="form-control"  
          name="escudo"  
          #category="ngModel"  
          [(ngModel)]="equipoService.selectedEquipo.escudo"
        >
      </div>
  
      <div class="form-group"> 
        <h5>seleccionar imagen bandera</h5>         
        <input   
         type="file"  
         class="form-control"  
         accept=".png, .jpg" (change)="detectFilesBandera($event)"
         name="bandera"  
         #location="ngModel"  
         [(ngModel)]="equipoService.selectedEquipo.bandera"  
         placeholder="Agregar Bandera"  
        >
    </div>

    <div class="form-group">
      <button class="btn btn-primary" type="submit" (click)="subirEscudo(eventEscudo)">
          <i class="fas fa-plus-circle"></i> Agregar Equipo
      </button>
      <button class="btn btn-secondary" type="reset" (click)="resetForm(EquipoForm)">
          <i class="fas fa-sync-alt"></i> Reset
      </button>
    </div>
  </form>
</div>
</div>

